plugin/
tramp/
.DS_Store
nvim/
neovim/
dein
tags*
.netrwhist
pythonpath.vim
nodepath.vim
autoload/plugged/*
vimspector-config/gadgets/*
paths.vim
session
wiki/
pack/
utils/java/*
lua-language-server/
eclipse.jdt.ls/
.language-servers/
.debuggers/
spell/
nv-settings.lua
lv-settings.lua
configstore/
efm-languageserver
iterm2/
id*
elpa/
*.pub
urls
elpaca/
*/url/*.*
undo/
secret.el
mu4e/
